/*Heading*/
.site-heading-2{padding: 30px 0;}

/*Buttons*/
.btn{padding: 10px 25px;}
td .btn{padding: 10px 15px; margin-right: 5px;}

/*Pagination*/
.page-link{padding: .35rem .75rem; color: #17a2b8;}
.page-item.active .page-link{background-color: #17a2b8; border-color: #17a2b8;}

/*Posts*/
.post .card img{height: 230px;}
.post .card .card-body{min-height: 330px;}
